/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  }

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  }

ul[class],
ol[class] {
  list-style: none;
  }

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  }

a {
  color: #75b752;
  text-decoration: none;
  transition: color .3s linear;
  }

a:hover { 
  color: #89c868;
  }

a:focus,
a:hover,
a:active { 
  outline: none !important;
  }

p { 
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 24px;
  }

p.gl-big-indent {
  margin: 0 0 50px;
}

b, strong { 
  font-weight: 700;
  }

button { 
  margin: 0;
  padding: 0;
  vertical-align: top;
  border: 0;
  background: none;
  border-radius: 0;
  }

button:focus,
button:hover,
button:active { 
  outline: none !important;
  }

img {
  max-width: 100%;
  display: block;
  }

article > * + * {
  margin-top: 1em;
  }

input,
button,
textarea,
select {
  font: inherit;
  }

input:focus,
input:hover,
input:active,
textarea:focus,
textarea:hover,
textarea:active { 
  outline: none !important;
  }

/* body */
body { 
  min-width: 320px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 28px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  }

.wrapper {
  padding: 60px 0 0;
  }

/* css для новыех блоков начало */

/* section */
.section {
  padding: 82px 0 60px;
  }

.section_indent-top-none {
  padding-top: 0;
  }

.section_gray-bg {
  background: #F8F8F8;
  overflow: hidden;
  }

.section__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1378px;
  }

/* category-panel */
.category-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 30px;
  gap: 5px 20px;
  }

.category-panel__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  }

.category-panel__quantity {
  color: #777;
  font-size: 13px;
  line-height: 22px;
  }

/* catalog-categories */
.catalog-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
  margin: 0 0 37px;
  }

.catalog-categories__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0 18px;
  border-radius: 5px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }

.catalog-categories__item:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15),
              0 0 0 1px #005CFA;
  }

.catalog-categories__description {
  padding: 0 17px 0 26px;
  }

.catalog-categories__photo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 229px;
  overflow: hidden;
  }

.catalog-categories__title {
  display: block;
  margin: 0 0 2px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  }

.catalog-categories__title a { 
  color: #000;
  }

.catalog-categories__title a:hover {
  color: #005CFA;
  }

.catalog-categories__bottom-panel {
  display: flex;
  justify-content: space-between;
  }

.catalog-categories__quantity {
  display: block;
  padding: 6px 0 0;
  color: #777;
  font-size: 14px;
  line-height: 22px;
  }

/* more-btn */
.more-btn {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  vertical-align: top;
  width: 29px;
  height: 29px;
  font-size: 0;
  background: #005CFA;
  border-radius: 2px;
  transition: .3s background;
  }

.more-btn:hover {
  background: #2374fe;
  }

.more-btn:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/bg/more-btn-arrow.svg) center no-repeat;
  content: "";
  }

/* settings */
.settings {
  margin: 0 0 37px;
  }

/* filters */
.filters {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 11px 11px;
  margin: 0 0 27px;
  padding: 0 144px 0 0;
  }

/* filters__item */
.filters__item {
  position: relative;
  }

.filters__item_hidden {
  display: none;
  }

.filters.show .filters__item_hidden {
  display: block;
  }

/* filters__btn */
.filters__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
  padding: 5px 18px;
  font-size: 12px;
  line-height: 22px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  }

.filters__btn.selected {
  border-color: #005CFA;
  }

.filters__btn.selected:before {
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  top: -7px;
  right: -4px;
  background: url(../img/bg/check-icon.svg) center no-repeat #005CFA;
  border-radius: 2px;
  content: "";
  }

.filters__btn:after {
  display: block;
  width: 10px;
  height: 8px;
  background: url(../img/bg/down-arrow.svg) center no-repeat;
  content: "";
  }

.filters__dropdown {
  position: absolute;
  display: block;
  padding: 20px 10px;
  width: 100%;
  top: 56px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  visibility: hidden;
  opacity: 0;
  transition: .3s all;
  z-index: 30;
  }

.filters__dropdown.active {
  opacity: 1;
  visibility: visible;
  }

.filters__dropdown_big-size {
  width: 240px;
  }

.filters__dropdown_sm-size {
  width: 128px;
  }

.filters__dropdown:before {
  position: absolute;
  display: block;
  width: 12px;
  height: 8px;
  top: -7px;
  left: 11px;
  background: url(../img/bg/dec-arrow.svg) center no-repeat;
  z-index: 3;
  content: "";
  }

.filters__dropdown:after {
  position: absolute;
  display: block;
  width: 2px;
  height: 5px;
  top: -7px;
  left: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
  content: "";
  }

/* filters__close-btn */
.filters__close-btn {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  font-size: 0;
  top: 0;
  right: 0;
  background: url(../img/bg/close-icon.svg) center no-repeat #005CFA;
  border-radius: 2px;
  z-index: 3;
  cursor: pointer;
  transition: .3s background-color;
  }

.filters__close-btn:hover {
  background-color: #2374fe;
  }

/* price-slider */
.price-slider { 
  position: relative;
  }

.price-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 12px;
  margin: 0 0 14px;
  width: 100%;
  }

.field span { 
  display: block;
  flex-shrink: 0;
  margin: 0 0 3px 0;
  color: #828282;
  font-size: 12px;
  line-height: 22px;
  }

.field input {
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: 26px;
  color: #000;
  font: 12px 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  border: 0;
  background: #F2F2F2;
  border-radius: 3px;
  -moz-appearance: textfield;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }

.slider {
  position: relative;
  height: 4px;
  background: #F2F2F2;
  border-radius: 3px;
  }

.slider .progress {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background: #005CFA;
  }

.range-input {
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  }

.range-input input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  top: 1.5px;
  background: none;
  box-shadow: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  }

input[type="range"]::-webkit-slider-thumb {
  width: 11px;
  height: 11px;
  border: 0;
  background: url(../img/bg/range.svg) center no-repeat;
  border-radius: 2px;
  box-shadow: none;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: none;
  cursor: grab;
  }

input[type="range"]::-moz-range-thumb {
  width: 11px;
  height: 11px;
  border: 0;
  background: url(../img/bg/range.svg) center no-repeat;
  border-radius: 2px;
  box-shadow: none;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: none;
  cursor: grab;
  }

/* filters__list */
.filters__list_two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px 7px;
  }

.filters__list li {
  margin: 0 0 7px;
  }

.filters__list_two-col li {
  margin: 0;
  }

.filters__list li:last-child {
  margin: 0;
  }

/* checkbox */
.checkbox {
  display: flex;
  }

.checkbox input {
  position: relative;
  flex-shrink: 0;
  display: block;
  margin: 2px 9px 0 0;
  width: 17px;
  height: 17px;
  border: 1px solid #005CFA;
  background: none;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  transition: .3s border-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

.checkbox input:hover {
  border-color: #468aff;
  }

.checkbox input:before {
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  top: 2px;
  left: 2px;
  background: #005CFA;
  border-radius: 2px;
  content: "";
  opacity: 0;
  transition: .3s opacity;
  }

.checkbox input:checked:before { opacity: 1; }

.checkbox label {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  cursor: text;
  }

/* filters__all-btn */
.filters__all-btn {
  position: absolute;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 6px 11px;
  max-width: 138px;
  width: 100%;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  background: #005CFA;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  transition: .3s background;
  cursor: pointer;
  }

.filters__all-btn:before {
  display: block;
  flex-shrink: 0;
  margin: 0 12px 0 0;
  width: 20px;
  height: 17px;
  background: url(../img/bg/filters-icon.svg) center no-repeat;
  content: "";
  }

.filters__all-btn:hover {
  background: #2374fe;
  }

.settings__bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

/* sorting */
.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 26px;
  }

.sorting dt {
  position: relative;
  padding: 0 4px 0 22px;
  font-size: 12px;
  line-height: 22px;
  }

.sorting dt:before {
  position: absolute;
  display: block;
  width: 14px;
  height: 12px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../img/bg/sort-arrows.svg) center no-repeat;
  content: "";
  }

.sorting dd {
  display: flex;
  gap: 0 26px;
  font-size: 12px;
  line-height: 22px;
  }

.sorting dd a { 
  display: flex;
  align-items: center;
  color: #828282;
  }

.sorting dd a:hover,
.sorting dd a.active {
  color: #005CFA;
  text-decoration: underline;
  }

.sorting dd a:after {
  display: block;
  margin: 0 0 0 6px;
  width: 18px;
  height: 13px;
  background: url(../img/bg/sort-arrow.svg) center no-repeat;
  content: "";
  }

/* reset-btn */
.reset-btn {
  display: flex;
  color: #828282;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
  transition: .3s color;
  }

.reset-btn:hover {
  color: #005CFA;
  }

.reset-btn:after {
  display: block;
  margin: 0 0 0 6px;
  width: 21px;
  height: 21px;
  background: url(../img/bg/close-icon.svg) center no-repeat #005CFA;
  border-radius: 2px;
  content: "";
  transition: .3s background-color;
  }

.reset-btn:hover:after {
  background-color: #2374fe;
  }

/* catalog-products */
.catalog-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 24px;
  margin: 0 0 22px;
  }

.catalog-products__item {
  position: relative;
  display: none;
  padding: 15px 0 0;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }

/* catalog-products */
.catalog-products__stickers {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  width: 87px;
  top: 19px;
  left: -8px;
  }

.sticker {
  display: block;
  padding: 1px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  background: #27AE60;
  border-radius: 2px;
  }

.sticker_orange-bg {
  background: #F2994A;
  }

.catalog-products__flag {
  position: absolute;
  top: 15px;
  right: 13px;
  }

.catalog-products__photo {
  margin: 0 0 8px;
  padding: 0 6px 0 7px;
  }

.catalog-products__photo img {
  width: 100%;
  }

/* catalog-products__description */
.catalog-products__description {
  padding: 0 14px 29px;
  }

.catalog-products__title {
  display: block;
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  }

.catalog-products__title a {
  color: #000;
  }

.catalog-products__title a:hover {
  color: #005CFA;
  }

.catalog-products__list {
  margin: 0 0 12px;
  list-style: none;
  }

.catalog-products__list li {
  color: #4F4F4F;
  font-size: 14px;
  line-height: 30px;
  }

.catalog-products__bottom-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px 7px;
  }

.catalog-products .btn {
  padding-left: 0;
  padding-right: 0;
  max-width: 173px;
  width: 100%;
  }

.catalog-products .btn + .btn {
  max-width: 116px;
  }

/* btn */
.btn {
  display: inline-block;
  padding: 8px 30px 7px;
  vertical-align: top;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 22px;
  text-align: center;
  border: 1px solid #005CFA;
  background: #005CFA;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s all;
  }

.btn:hover {
  color: #fff;
  border-color: #2374fe;
  background: #2374fe;
  }

.btn_transparent-bg {
  color: #005CFA;
  background: none;
  }

.btn_mov-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.btn_mov-icon:hover {
  background: #005CFA;
  }

.btn_mov-icon:after {
  display: block;
  margin: 0 0 0 8px;
  width: 14px;
  height: 14px;
  background: url(../img/bg/play-icon.svg) center no-repeat;
  content: "";
  }

.btn_mov-icon:hover:after {
  background: url(../img/bg/play-icon-w.svg) center no-repeat;
  }

.btn_big-size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  min-width: 235px;
  }

.btn_big-size:after {
  display: block;
  margin: 0 0 0 20px;
  width: 8px;
  height: 13px;
  background: url(../img/bg/more-arrow.svg) center no-repeat;
  content: "";
  }

.btn_big-size:hover:after {
  background: url(../img/bg/more-arrow-w.svg) center no-repeat;
  }

.btn_play-icon {
  display: flex;
  align-items: center;
  padding: 8px 25px 7px 30px;
  }

.btn_play-icon:after {
  display: block;
  margin: 0 0 0 8px;
  width: 14px;
  height: 14px;
  background: url(../img/bg/play-icon-w.svg) center no-repeat;
  content: "";
  }

.btn_follow-icon {
  display: flex;
  align-items: center;
  padding: 8px 24px 7px 17px;
  }

.btn_follow-icon:after {
  display: block;
  margin: 0 0 0 12px;
  width: 15px;
  height: 15px;
  background: url(../img/bg/follow-icon.svg) center no-repeat #fff;
  border-radius: 2px;
  content: "";
  }

.btn_hidden {
  display: none;
  }

/* btn-panel */
.btn-panel {
  display: flex;
  justify-content: center;
  margin: 0 0 16px;
  }

/* page-navi */
.page-navi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 7px;
  margin: 0 0 42px;
  }

.page-navi__numb a,
.page-navi__numb span,
.page-navi__dots span {
  display: block;
  width: 23px;
  height: 23px;
  border: 1px solid #fff;
  color: #000;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  transition: .3s all;
  }

.page-navi__numb a,
.page-navi__numb span {
  cursor: pointer;
  }

.page-navi__numb a:hover,
.page-navi__numb span:hover {
  color: #005CFA;
  }

.page-navi__numb.active span {
  color: #005CFA;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid #D7D7D7;
  cursor: default;
  }

/* title-panel */
.title-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  }

/* title */
.title {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  }

.title-panel .title {
  margin: 0;
  }

/* mob-slider-arrows */
.mob-slider-arrows {
  display: none;
  align-items: center;
  gap: 0 8px;
  }

.mob-right-arrow.swiper-button-next,
.mob-left-arrow.swiper-button-prev {
  position: static;
  margin: 0;
  width: 25px;
  height: 8px;
  }

.mob-right-arrow.swiper-button-next {
  background: url(../img/bg/mob-left-arrow.svg) center no-repeat;
  }

.mob-left-arrow.swiper-button-prev {
  background: url(../img/bg/mob-right-arrow.svg) center no-repeat;
  }

.mob-right-arrow.swiper-button-next:after,
.mob-left-arrow.swiper-button-prev:after {
  display: none;
  }

/* compilations */
.compilations {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 14px 9px;
  margin: 0 0 62px;
  }

.compilation {
  display: block;
  padding: 10px 30px;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #E0E0E0;
  background: #FAFAFA;
  border-radius: 2px;
  transition: .3s all;
  }

.compilation:hover,
.compilation.active {
  color: #005CFA;
  border-color: #005CFA;
  background: #fff;
  }

/* compilations-slider */
.compilations-slider {
  display: none;
  margin: 0 0 50px;
  }

.compilations-slider .swiper {
  padding: 0 0 2px;
  }

.compilations-slider .compilation {
  padding: 4px 10px;
  text-align: center;
  }

/* brands */
.brands {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 9px 9px;
  margin: 0 0 51px;
  }

.brand {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 42px;
  border: 1px solid #E0E0E0;
  background: #fff;
  border-radius: 2px;
  transition: .2s all;
  }

.brand:hover {
  position: relative;
  border-color: #005CFA;
  transform: scale(1.3);
  z-index: 3;
  }

.brand img {
  width: auto;
  }

/* brands-slider */
.brands-slider {
  display: none;
  margin: 0 0 50px;
  }

.brands-slider .swiper {
  padding: 0 0 2px;
  }

.brands-slider .brand {
  justify-content: center;
  }

.brands-slider .brand:hover {
  transform: inherit;
  }

/* countries */
.countries {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 14px 9px;
  }

.country {
  border: 1px solid #E0E0E0;
  background: #FAFAFA;
  border-radius: 2px;
  transition: .3s border-color;
  }

.country:hover {
  border-color: #005CFA;
  }

.country a { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  }

.country__flag {
  display: block;
  flex-shrink: 0;
  margin: 0 10px 0 0;
  }

.country__text {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.1px;
  }

/* countries-slider */
.countries-slider {
  display: none;
  }

.countries-slider .swiper {
  padding: 0 0 2px;
  }

/* mov-slider */
.mov-slider {
  position: relative;
  }

.mov-slider .swiper {
  overflow: visible;
  }

.mov__poster {
  margin: 0 0 23px;
  }

.mov__poster iframe {
  margin: 0;
  width: 100%;
  height: 377px;
  vertical-align: top;
  border-radius: 5px;
  }

.mov-slider .gl-left-arrow.swiper-button-prev,
.mov-slider .gl-right-arrow.swiper-button-next {
  top: 159px;
  }

.mov__title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  }

/* gl-pagination */
.gl-pagination.swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 9px;
  padding: 37px 0 0;
  }

.gl-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  width: 11px;
  height: 11px;
  background: #E0E0E0;
  border-radius: 2px;
  opacity: 1;
  cursor: pointer;
  }

.gl-pagination .swiper-pagination-bullet-active {
  background: #005CFA;
  cursor: default;
  }

/* gl-arrow */
.gl-left-arrow.swiper-button-prev,
.gl-right-arrow.swiper-button-next {
  position: absolute;
  margin: 0;
  width: 16px;
  height: 28px;
  top: 0;
  opacity: 1;
  }

.gl-left-arrow.swiper-button-prev {
  left: -49px;
  }

.gl-right-arrow.swiper-button-next {
  right: -49px;
  }

.gl-left-arrow.swiper-button-prev:before,
.gl-right-arrow.swiper-button-next:before {
  position: absolute;
  display: block;
  width: 16px;
  height: 28px;
  top: 0;
  left: 0;
  content: "";
  }

.gl-left-arrow.swiper-button-prev:before {
  background: url(../img/bg/left-arrow-b.svg) center no-repeat;
  background-size: 100%;
  }

.gl-right-arrow.swiper-button-next:before {
  background: url(../img/bg/right-arrow-b.svg) center no-repeat;
  background-size: 100%;
  }

.gl-left-arrow.swiper-button-prev:after {
  content: "";
  }

.gl-right-arrow.swiper-button-next:after {
  content: "";
  }

.gl-left-arrow.swiper-button-prev.swiper-button-disabled,
.gl-right-arrow.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  }

.gl-left-arrow.swiper-button-prev.swiper-button-disabled:after,
.gl-right-arrow.swiper-button-next.swiper-button-disabled:after {
  position: absolute;
  display: block;
  width: 16px;
  height: 28px;
  top: 0;
  left: 0;
  content: "";
  }

.gl-left-arrow.swiper-button-prev.swiper-button-disabled:after {
  background: url(../img/bg/left-arrow.svg) center no-repeat;
  background-size: 100%;
  }

.gl-right-arrow.swiper-button-next.swiper-button-disabled:after {
  background: url(../img/bg/right-arrow.svg) center no-repeat;
  background-size: 100%;
  }

/* articles */
.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 39px 39px;
  margin: 0 0 78px;
  }

.article__photo {
  margin: 0 0 17px;
  }

.article__photo img {
  width: 100%;
  border-radius: 5px;
  }

.article__title {
  display: block;
  margin: 0 0 17px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  }

.article__title a {
  color: #000;
  }

.article__title a:hover {
  color: #005CFA;
  }

.article__bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.article__date {
  color: #777;
  font-size: 14px;
  line-height: 22px;
  }

/* articles-slider */
.articles-slider {
  display: none;
  margin: 0 0 50px;
  }

/* reviews-slider */
.reviews-slider {
  position: relative;
  margin: 0 0 78px;
  }

.reviews-slider .swiper {
  padding: 0 0 2px;
  }

.reviews-slider .gl-pagination.swiper-pagination {
  display: none;
  }

.reviews-slider .gl-left-arrow.swiper-button-prev, 
.reviews-slider .gl-right-arrow.swiper-button-next {
  top: 187px;
  }

/* review */
.review {
  padding: 33px 17px 21px 21px;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  }

.review__name {
  display: block;
  margin: 0 0 14px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  }

.review p {
  position: relative;
  margin: 0 0 7px;
  font-size: 14px;
  line-height: 25px;
  height: 150px;
  overflow: hidden;
  }

.review p:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 95%);
  content: "";
  }

.review__title {
  display: block;
  margin: 0 0 7px;
  padding: 0 0 10px;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 1px solid #D7D7D7;
  }

/* review__mov-panel */
.review__mov-panel {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: 1px solid #D7D7D7;
  }

.review__posters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px 19px;
  margin: 0 0 2px;
  }

.review__posters img {
  width: 100%;
  }

.review__mov-number {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 8px;
  }

/* review__bottom-panel */
.review__bottom-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px 15px;
  }

.review__link {
  display: block;
  max-width: 321px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  }

.review__link a {
  display: block;
  color: #005CFA;
  text-decoration: underline;
  }

.review__link a:hover {
  color: #2374fe;
  text-decoration: none;
  }

/* info-text */
.info-text p {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  }

/* banner */
.banner {
  position: relative;
  margin: 0 0 46px;
  padding: 46px 45px 45px;
  background: rgb(207,216,233);
  background: linear-gradient(90deg, rgba(237,244,255,1) 0%, rgba(250,252,255,1) 50%, rgba(207,216,233,1) 100%);
  border-radius: 5px;
  }

.banner__title {
  display: block;
  max-width: 550px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  }

.banner__title small {
  margin: 0 0 0 10px;
  }

.banner__title a { 
  color: #005CFA;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-decoration: underline;
  line-height: 22px;
  }

.banner__title a:hover {
  text-decoration: none;
  }

.banner__img {
  position: absolute;
  width: 441px;
  right: 184px;
  bottom: 0;
  }

.banner__img img {
  width: 100%;
  }

.mob-btn-panel {
  display: none;
  justify-content: center;
  margin: 0 0 55px;
  padding: 20px 0 0;
  }

.mob-btn-panel_indent-bt-none {
  margin: 0;
  }

/* responsive 1500px */
@media (max-width: 1500px) {

.mov-slider .gl-left-arrow.swiper-button-prev, 
.mov-slider .gl-right-arrow.swiper-button-next {
  display: none;
  }

.mov-slider .swiper {
  overflow: hidden;
  }

.reviews-slider .gl-left-arrow.swiper-button-prev, 
.reviews-slider .gl-right-arrow.swiper-button-next {
  display: none;  
  }

.reviews-slider .gl-pagination.swiper-pagination {
  display: flex;
  }

.banner__img {
  right: 100px;
  }

}

/* responsive 1200px */
@media (max-width: 1200px) {

.catalog-categories {
  gap: 15px 15px;
  }

.catalog-categories__photo {
  padding: 0 0 0 14px;
  }

.catalog-categories__photo img {
  width: 100%;
  }

.catalog-categories__description {
  padding: 0 15px;
  }

.catalog-products {
  gap: 15px 15px;
  }

.catalog-products__title {
  font-size: 12px;
  line-height: 20px;
  }

.catalog-products__list li {
  font-size: 12px;
  line-height: 20px;
  }

.sticker {
  font-size: 12px;
  line-height: 20px;
  }

.catalog-products__stickers {
  width: 76px;
  }

.catalog-products__description {
  padding: 0 14px 15px;
  }

.catalog-products .btn {
  font-size: 10px;
  }

.compilations {
  gap: 9px 9px;
  }

.compilation {
  padding: 10px 15px;
  font-size: 12px;
  line-height: 20px;
  }

.countries {
  gap: 9px 9px;
  }

.country a {
  padding: 10px;
  }

.country__text {
  font-size: 12px;
  line-height: 20px;
  }

.review__link {
  max-width: inherit;
  font-size: 12px;
  line-height: 20px;
  }

.info-text p {
  font-size: 12px;
  line-height: 26px;
  }

.banner {
  padding: 35px;
  }

.banner__title {
  max-width: 450px;
  font-size: 24px;
  line-height: 30px;
  }

.banner__title a {
  font-size: 14px;
  line-height: 20px;
  }

.banner__img {
  width: 400px;
  right: 50px;
  }

}

/* responsive 1023px */
@media (max-width: 1023px) {

.section {
  padding: 50px 0;
  }

.section_indent-top-none {
  padding-top: 0;
  }

.sorting {
  gap: 0 15px;
  }

.sorting dt {
  padding-right: 0;
  font-size: 10px;
  }

.sorting dd {
  gap: 0 15px;
  font-size: 10px;
  }

.reset-btn {
  font-size: 10px;
  line-height: 20px;
  }

.articles {
  gap: 15px 15px;
  margin: 0 0 40px;
  }

.article__date {
  font-size: 12px;
  line-height: 20px;
  }

.reviews-slider {
  margin: 0 0 40px;
  }

.review {
  padding: 20px 15px;
  }

.banner__img {
  width: 350px;
  right: 30px;
  }

}

/* responsive 960px */
@media (max-width: 960px) {

.more-btn {
  width: 24px;
  height: 24px;
  }

.catalog-categories {
  grid-template-columns: repeat(2, 1fr);
  }

.catalog-products__photo {
  margin: 0 auto;
  max-width: 300px;
  }

.catalog-categories__quantity {
  padding: 0;
  font-size: 12px;
  }

.btn_big-size {
  padding: 10px 20px;
  min-width: 190px;
  }

.catalog-products .btn {
  max-width: 50%;
  }

.catalog-products .btn + .btn {
  max-width: 50%;
  }

.catalog-products {
  grid-template-columns: repeat(2, 1fr);
  }

.mov__poster iframe {
  height: 270px;
  }

.article__title {
  font-size: 12px;
  line-height: 20px;
  }

.reviews-slider .swiper-slide {
  padding: 1px;
  }

.review p {
  height: 100px;
  font-size: 12px;
  line-height: 20px;
  }

.banner__img {
  width: 300px;
  }

}

/* responsive 850px */
@media (max-width: 850px) {

.banner {
  padding: 30px;
  }

.banner__title {
  max-width: 400px;
  font-size: 20px;
  line-height: 26px;
  }

.banner__img {
  width: 250px;
  right: 20px;
  }

}

/* responsive 809px */
@media (max-width: 809px) {

.sorting {
  gap: 0 10px;
  }

.sorting dd {
  gap: 0 10px;
  } 

}

/* responsive 767px */
@media (max-width: 767px) {

.sorting {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  max-width: 261px;
  }

.sorting dt {
  padding: 5px 18px 5px 42px;
  width: 100%;
  font-size: 12px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  cursor: pointer;
  }

.sorting dt:before {
  left: 20px;
  }

.sorting dt:after {
  position: absolute;
  display: block;
  width: 10px;
  height: 8px;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: url(../img/bg/down-arrow.svg) center no-repeat;
  content: "";
  }

.sorting dd {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  padding: 17px 17px 18px;
  width: 100%;
  top: 41px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  visibility: hidden;
  opacity: 0;
  transition: .3s all;
  z-index: 30;
  }

.sorting dd.show {
  opacity: 1;
  visibility: visible;
  }

.sorting dd:before {
  position: absolute;
  display: block;
  width: 12px;
  height: 8px;
  top: -7px;
  left: 11px;
  background: url(../img/bg/dec-arrow.svg) center no-repeat;
  z-index: 3;
  content: "";
  }

.sorting dd:after {
  position: absolute;
  display: block;
  width: 2px;
  height: 5px;
  top: -7px;
  left: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
  content: "";
  }

.sorting dd a {
  font-size: 12px;
  }

.compilations {
  display: none;
  }

.brands {
  display: none;
  }

.countries {
  display: none;
  }

.title-panel .btn {
  display: none;
  }

.articles {
  display: none;
  }

.articles-slider {
  display: block;
  }

.info-text p {
  line-height: 22px;
  }

.articles-slider {
  margin: 0;
  }

.reviews-slider {
  margin: 0;
  }

.mob-btn-panel {
  display: flex;
  }

.countries-slider {
  display: block;
  }

.brands-slider {
  display: block;
  }

.compilations-slider {
  display: block;
  }

.mob-slider-arrows {
  display: flex;
  }

}

/* responsive 650px */
@media (max-width: 650px) {

.review__link a br {
  display: none;
  }

}

/* responsive 520px */
@media (max-width: 520px) {

.catalog-products {
  margin: 0 0 37px;
  }

.btn_big-size {
  min-width: 235px;
  }

.country__text {
  font-size: 14px;
  line-height: 22px;
  }

.mov__poster {
  margin: 0 0 14px;
  }

.mov__title {
  line-height: 25px;
  }

.gl-pagination.swiper-pagination {
  padding: 20px 0 0;
  }

.article__photo {
  margin: 0 0 11px;
  }

.article__title {
  margin: 0 0 13px;
  font-size: 14px;
  line-height: 22px;
  }

.article__date {
  font-size: 14px;
  line-height: 22px;
  }

.more-btn {
  width: 29px;
  height: 29px;
  }

.review {
  padding: 22px 22px 26px;
  }

.review p {
  height: 110px;
  line-height: 22px;
  }

.review__link {
  line-height: 22px;
  }

.title {
  line-height: 30px;
  }

.title-panel {
  align-items: flex-end;
  }

.title-panel .title {
  max-width: 270px;
  }

.mob-slider-arrows {
  height: 32px;
  }

}

/* responsive 460px */
@media (max-width: 460px) {

.category-panel {
  margin: 0 0 36px;
  }

.catalog-categories {
  grid-template-columns: repeat(1, 1fr);
  gap: 15px 0;
  margin: 0 0 37px;
  }

.catalog-categories__item {
  position: relative;
  padding: 30px 26px 25px;
  }

.catalog-categories__photo {
  position: absolute;
  padding: 0;
  transform: translateY(-50%);
  width: 176px;
  top: 50%;
  right: 0;
  }

.catalog-categories__description {
  padding: 0;
  max-width: 160px;
  }

.catalog-categories__title {
  margin: 0 0 18px;
  }

.catalog-categories__bottom-panel {
  display: block;
  }

.catalog-categories__quantity {
  margin: 0 0 18px;
  font-size: 14px;
  line-height: 10px;
  }

.catalog-products {
  grid-template-columns: repeat(1, 1fr);
  }

.catalog-products__stickers {
  width: 87px;
  }

.catalog-products__description {
  padding: 0 14px 28px;
  }

.sticker {
  font-size: 14px;
  line-height: 22x;
  }

.catalog-products__photo {
  max-width: 310px;
  }

.catalog-products__title {
  font-size: 14px;
  line-height: 25px;
  }

.catalog-products__list li {
  font-size: 14px;
  line-height: 30px;
  }

.catalog-products .btn {
  max-width: 60%;
  font-size: 12px;
  }

.catalog-products .btn + .btn {
  max-width: 40%;
  }

.sorting {
  max-width: 100%;
  }

.reset-btn {
  display: none;
  }

.settings {
  margin: 0 0 28px;
  }

.mov__poster iframe {
  height: 280px;
  }

}

/* responsive 369px */
@media (max-width: 369px) {

.title {
  font-size: 20px;
  }

.title-panel .title {
  max-width: 240px;
  }

.country a {
  padding: 5px;
  }

.country__flag {
  margin: 0 5px 0 0;
  width: 20px;
  }

.country__flag img {
  width: 100%;
  }

.country__text {
  font-size: 12px;
  line-height: 20px;
  }

}